#header{
    z-index: 1;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    padding: 40px;
    margin-bottom: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    .logo{
        display: flex;
        font-weight:bold; 
        font-size: 2.5em; 
        color: #efefef;
        text-shadow:1px 3px 8px rgba(0,0,0,0.80);
        cursor: pointer;
    }
    ul{
        display: flex;
        flex: 1;
        flex-flow: row nowrap;
        flex-direction: row;
        flex-wrap: nowrap;
        // justify-content: space-around;
        align-items: center;
        justify-content: center;


        li{
            display: flex;
            justify-content: center;
            flex-flow: row nowrap;
            font-size: 1em;
            transition-property: font-size;
            transition-duration: 4s;
            transition-delay: 5s;
            margin-left: 20px;
            margin-right: 20px;
        }
        li:hover{
            border-bottom: 2px solid blueviolet;
            font-size: 1.2em;
            cursor: pointer;
        }
    }

    // .btn-grp{
    //     display: flex;
    //     flex-flow: row nowrap;
    // }

}

mat-form-field{
    margin: 5px;
}
.options{
    // border: 1px solid rgba(112, 109, 109, 0.171); 
    // height: 100px; 
    // display: flex; 
    // justify-content: space-between;
    // margin-bottom: 50px; 
    // padding: 10px;
    // border-radius: 5px;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    // background-color: white;

    // select{
    //     background-color:white;
    //     width: 100%;
    //     margin-left: 5px;
    //     margin-right: 5px;
    //     border-radius: 5px;
    //     border:0px;
    //     border-right: 1px solid indigo;
    //     border-left: 1px solid indigo;
    // }

   
}