<div id="header" class="bd-rad-4">
    <!-- <img src="#" alt="Logo"> -->
    <div class="logo" routerLink="/"><span class="L">L</span>'Opticienne</div>
    <ul>
        <li routerLink="/">Accueil</li>
        <li routerLink="/lunettes">Lunettes</li>
        <li routerLink="/lentilles">Lentilles</li>
        <li routerLink="/make">Marques</li>
    </ul>
    <div class="btn-grp">
        <app-button [title]="btnCount" [color]="btnCountColor"></app-button>
        <app-button [title]="btnPanier" [color]="btnPanierColor"></app-button>
    </div>
</div>

<div class="options-group">

    
    <mat-form-field appearance="fill" style="z-index: 0;" class="option">
        <mat-label>Prix</mat-label>
        <mat-select disableRipple name="searchInput" [(ngModel)]="searchInput">
            <!-- <mat-option value="">...</mat-option> -->
            <mat-option value="670">670</mat-option>
            <mat-option value="850">850</mat-option>
            <mat-option value="1000">1000</mat-option>
        </mat-select>
    </mat-form-field>

     <mat-form-field appearance="fill" style="z-index: 0;">
        <mat-label>Type de lunettes</mat-label>
        <mat-select disableRipple name="searchInputTypeMonture" [(ngModel)]="searchInputTypeMonture">
          <!-- <mat-option>...</mat-option> -->
          <mat-option value="LUNETTE_DE_VUE">Lunettes de vues</mat-option>
          <mat-option value="LUNETTE_DE_SOLEIL">Lunettes de soleil</mat-option>
          <mat-option value="LENTILLE_DE_COULEUR">Lunettes de couleur</mat-option>
          <mat-option value="LENTILLE_CORRECTRICE">Lentilles correctrices</mat-option>
          <mat-option value="LENTILLE_JOURNALIERE">Lentilles journalière</mat-option>
        </mat-select>
    </mat-form-field>

     <mat-form-field appearance="fill" style="z-index: 0;">
        <mat-label>Type de visage</mat-label>
        <mat-select disableRipple name="searchInputTypeMonture" [(ngModel)]="searchInputVisage">
          <mat-option>...</mat-option>
          <mat-option value="CAREE">Carre</mat-option>
          <mat-option value="RECTANGLE">Rectangle</mat-option>
          <mat-option value="TRIANGLE_POINTE_EN_BAS">Triange pointe en bas</mat-option>
          <mat-option value="OVALE">Ovale</mat-option>
          <mat-option value="TRIANGLE_POINTE_EN_HAUT">Triange pointe en haut</mat-option>
          <mat-option value="ROND">Rond</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill" style="z-index: 0;">
        <mat-label>Genre</mat-label>
        <mat-select disableRipple name="searchInputTypeMonture" [(ngModel)]="searchInputGenre">
          <mat-option>...</mat-option>
          <mat-option value="FEMME">Femme</mat-option>
          <mat-option value="HOMME">Homme</mat-option>
          <mat-option value="ENFANT">Enfant</mat-option>
          <mat-option value="MIXTE">Mixte</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="z-index: 0;">
        <mat-label>Forme</mat-label>
        <mat-select disableRipple name="searchInputTypeMonture" [(ngModel)]="searchInputTypeMonture">
          <mat-option>...</mat-option>
          <mat-option value="CERCLE">Cercle</mat-option>
          <mat-option value="CARRE">Carre</mat-option>
          <mat-option value="OVALE">Ovale</mat-option>
        </mat-select>
    </mat-form-field>
</div>